page-num-scanner {

    .number-field{
        display: block;
        width: 80%;
        margin: 0 auto;
        height: 45px;
        padding-left: 20px;
        margin-top: 50px;
    }

    .num-check{
        margin: 0 auto;
        text-align: center;
    }

    .requset-status{
        font-size: 16px;
        text-align: center;
    }

    .false-status{
        display: none;
    }
}
