.toolbar-title-md{
    color: white;
}

.toolbar-background-md {
    border-color: transparent;
    background: transparent;
}

.button-md{
    background: #919191;
    width: 80%;
    text-transform: uppercase;
    font-size: 16px;
    height: 45px;
    margin: 0 auto;
}

.toolbar-title-md{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-toogler{
    cursor: pointer;
    color: #62DAF9;
    font-size: 30px;
    margin-right: 10px;
}

.back-button.show-back-button{
    display: none;
}

.scroll-content{
    overflow-y: hidden;
}

.header-md::after{
    display: none;
}

.menu-inner .item-md{
    background: #919191;
    color: white;
}

.menu-inner .list-md .item-block .item-inner{
    border: none;
}

.menu-list ion-label{
    font-size: 20px;
    margin-left: 20px;
}

.menu-inner ion-content{
    background: #919191;
}

.transparent-btn{
    background: transparent;
    border: 1px solid #919191;
    color: #919191;
}

.icon-checkmark{
    font-size: 120px;
    color: green;
}

.icon-close{
    font-size: 120px;
    color: red;
}

.icon-checkmark,.close-btn,.icon-close{
    display: none;
}

.num-check{
    visibility: hidden;
}

.scanner-btn{
    display: none;
}

.nummer-link{
    display: none;
}

.requset-status{
    visibility: hidden;
}

.close-btn{
    margin-top: 40px;
    margin-bottom: 10px;
}

.status-text{
    visibility: hidden;
    margin-top: 60px;
}

.ticket_number{
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    min-height: 24px;
    visibility: hidden;
}


.visible{
    visibility: visible;
}

.hidden{
    visibility: hidden;
}

.displaying{
    display: block!important;
}

.no_displaying{
    display: none!important;
}

.ion-page .null-margin{
    margin-top: 150px;
}

.ion-page .false-margin{
    margin-top: 15px;
}

.dop_margin{
    margin-top: 80px;
}



